html {
  font-family: Lato, Arial, Georgia, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3em;
  min-width: 320px;
}

#{headings()} {
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: bold;
}

h1 {
  font-size: em(82px);
  font-weight: 900;
}

h2 {

}

a {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;

  &:hover {
    color: $decorFontColor;
  }
}

strong {
  font-weight: bold;
}

@include break(0, $small) {
  html {
    font-size: 18px;
  }

  h2 {
    font-size: em(38px);
  }
}