@import "mixins";

// Fonts
@import "https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900i";


// Colors
$white: #ffffff;
$black: #000000;
$darkGray: #383738;
$orange: #fc9e20;
$extraGray: #2f2f2f;


// Variables
$fstFontColor: $white;
$scdFontColor: $darkGray;
$decorFontColor: $orange;
$fstBGColor: $white;
$scdBGColor: $extraGray;
$btnColor: $orange;

$fontFamily: Lato, Arial, Georgia, sans-serif;
$mediaBorder: 2px solid $fstFontColor;

$small: em(569px);
$sm-medium: em(57px);
$medium: em(759px);
$lg-medium: em(760px);
$sm-large: em(1023px);
$large: em(1024px);

// Icons
$advantagesListIcons: flag, moniton, operator;


// Transition default
$default-transition-property: all;
$default-transition-duration: .5s;
$default-transition-function: ease-out;


// Paddings
$menuPadding: .5em .2em;