.events {
  background-color: $fstBGColor;

  &__inner {
    background: $fstBGColor url('../images/events/events_bg.png') no-repeat 110% center;
    @include background-size(contain);
    position: relative;

    
  }

  &__description {
    width: 30%;
  }
}

// Small screen
@include break(0, $small) {
  .events {
    text-align: center;
  }
}

@include break($sm-medium, $medium) {
  .events {
    &__button {
      margin-bottom: 0;
    }
  }
}