.events {
  background-color: $fstBGColor;
}

// Small screen
@include break(0, $small) {
  .events {
    text-align: center;
  }
}

@include break($sm-medium, $medium) {
  .events {
    &__button {
      margin-bottom: 0;
    }
  }
}