.events {
  background-color: $fstBGColor;
}

// Small screen
@include break(0, $small) {
  .events {
    text-align: center;
  }
}

@include break($sm-medium, $medium) {
  .events {
    &__button {
      margin-bottom: 0;
    }
  }
}

@include break($lg-medium, $large) {
  .events {
    &__inner {
      background: linear-gradient(left, white 0%, rgba(255,255,255,.9) 50%, transparent 100%), url('../images/events/events_bg.png') no-repeat right center;
      @include background-size(cover);
    }

    &__description {
      width: 40%;
    }
  }
}

@include break(1200px) {
  .events {
    &__inner {
      background: linear-gradient(left, white 0%, transparent 100%), url('../images/events/events_bg.png') no-repeat right center;
      @include background-size(contain);
      position: relative;
    }

    &__description {
      width: 30%;
    }
  }
}