.header {
  color: $fstFontColor;
  background: url(../images/hero/hero_bg.jpg) no-repeat center center;
  @include background-size(cover);
}

// Header
.menu {
  list-style: none;
  text-align: center;
  padding-top: 1.5em;
  margin: 0;

  &__item {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-right: 3%;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding: $menuPadding;
    font-weight: 400;
  }
}



// Logo
.logo {
  margin-top: 1.5em;
  text-align: center;

  &__text {
    display: inline-block;
    font-size: em(45px);
    font-weight: 600;
    letter-spacing: -0.07em;

    &:after {
      content: '';
      @include border-radius(50%);
      height: em(14px, 45px);
      width: em(14px, 45px);
      background-color: $decorFontColor;
      margin-left: 5px;
      display: inline-block;
    }
  }
}

// Media buttons
.media-list {
  @include mediaButtons($fontSize: 26px, $color: $fstFontColor, $hoverColor: $decorFontColor);
}

// Hero
.hero {
  padding: 0 10%;
  margin-top: 3em;
  text-align: center;

  &__text {
    margin-top: 3em;
  }

  &__button {
    margin: 3em 0;
  }
}

// Small screen

@include break(0, $small) {
  .menu {
    padding-top: 0.5em;
  }

  .hero {
    margin-top: 1.3em;

    &__title {
      font-size: rem(45px);
    }

    &__text {
      margin-top: 1.2em;
    }

    &__button {
      margin-top: 1.2em;
    }
  }
}

@include break($sm-medium, $medium) {
  .menu {
    padding-top: .5em;
  }

  .hero {
    margin-top: 1.3em;

    &__title {
      font-size: rem(54px);
    }

    &__text {
      margin-top: 1.2em;
    }

    &__button {
      margin-top: 1.3em;
    }
  }
}