.header {
  color: $fstFontColor;
  background: url(../images/hero/hero_bg.jpg) no-repeat center center;
  @include background-size(cover);
}

.nav {
  display: table;
  width: 100%;
}

// Header
.menu {
  display: table-cell;
  width: 30%;
  list-style: none;
  text-align: center;
  padding-top: 1.5em;
  margin: 0;

  &__item {
    display: inline-block;
    font-size: .85em;
    text-align: center;
    text-transform: uppercase;
    margin-right: 7%;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding: $menuPadding;
    font-weight: 400;
  }
}

// Logo
.logo {
  display: table-cell;
  width: 40%;
  margin-top: 1.5em;
  text-align: center;

  &__text {
    display: inline-block;
    font-size: em(45px);
    font-weight: 600;
    letter-spacing: -0.07em;

    &:after {
      content: '';
      @include border-radius(50%);
      height: em(14px, 45px);
      width: em(14px, 45px);
      background-color: $decorFontColor;
      margin-left: 5px;
      display: inline-block;
    }
  }

  &:before {
    font-size: 32em;
    position: absolute;
    top: -.51em;
    left: calc(50% - 0.5em);

    color: $decorFontColor;
  }
}

// Media buttons
.media-list {
  @include mediaButtons($fontSize: 26px, $color: $fstFontColor, $hoverColor: $decorFontColor);
  position: relative;
  z-index: 10;
}

// Hero
.hero {
  padding: 0 10%;
  margin-top: 10em;
  text-align: center;

  &__title {
    width: 80%;
    margin: 0 auto;
  }

  &__text {
    width: 60%;
    margin: 2.5em auto 0;
  }

  &__button {
    margin: 2.5em 0;
  }
}

// Small screen

@include break(0, $small) {
  .menu {
    padding-top: 0.5em;
    width: auto;
  }

  .logo {
    display: block;
    width: auto;
    position: absolute;
    top: 5em;
  }

  .hero {
    margin-top: 1.3em;

    &__title {
      font-size: rem(45px);
    }

    &__text {
      margin-top: 1.2em;
    }

    &__button {
      margin-top: 1.2em;
    }
  }
}

@include break($sm-medium, $medium) {
  .menu {
    padding-top: .5em;
  }

  .hero {
    margin-top: 1.3em;

    &__title {
      font-size: rem(54px);
    }

    &__text {
      margin-top: 1.2em;
    }

    &__button {
      margin-top: 1.3em;
    }
  }
}