@import "https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900i";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-family: Lato, Arial, Georgia, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3em;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: bold;
}

h1 {
  font-size: 5.125em;
  font-weight: 900;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}
a:hover {
  color: #fc9e20;
}

strong {
  font-weight: bold;
}

@media (min-width: 0) and (max-width: 35.5625em) {
  html {
    font-size: 18px;
  }

  h2 {
    font-size: 2.375em;
  }
}
.wrapper {
  padding: 3rem 7%;
  max-width: 1600px;
  margin: auto;
}

.button {
  display: inline-block;
  background-color: #fc9e20;
  text-transform: uppercase;
  margin: 2em 0 3em;
  padding: 14px 27px;
  border: 3px solid rgba(252, 158, 32, 0);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.button:hover {
  background-color: rgba(252, 158, 32, 0);
  border-color: #fc9e20;
}

.description__title {
  font-size: 2.8125em;
  color: #383738;
}
.description__title .title_decor {
  color: #fc9e20;
}
.description__title:after {
  content: '';
  display: block;
  width: 3.3em;
  border-bottom: 0.14em solid #fc9e20;
  margin-top: .4em;
}
.description__text {
  padding-top: 1.5em;
}

@media (min-width: 0) and (max-width: 35.5625em) {
  .wrapper {
    padding: 1.5rem 5%;
  }

  .description__title {
    font-size: 2em;
    padding-left: 5%;
    text-align: left;
  }
  .description__text {
    text-align: justify;
  }

  .button {
    margin: 2em 0 0;
  }
}
@media (min-width: 3.5625em) and (max-width: 47.4375em) {
  .button {
    margin-bottom: 0;
  }
}
@media (min-width: 64em) {
  .description__title {
    font-size: 2.8125em;
    color: #383738;
  }
  .description__title .title_decor {
    color: #fc9e20;
  }
  .description__title:after {
    content: '';
    display: block;
    width: 3.3em;
    border-bottom: 0.14em solid #fc9e20;
    margin-top: .4em;
  }
  .description__text {
    padding-top: 1.5em;
  }
}
.header {
  color: #ffffff;
  background: url(../images/hero/hero_bg.jpg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.nav {
  display: table;
  width: 100%;
}

.menu {
  display: none;
  width: 30%;
  list-style: none;
  text-align: center;
  padding-top: 1.5em;
  margin: 0;
}
.menu__item {
  display: inline-block;
  font-size: .85em;
  text-align: center;
  text-transform: uppercase;
  margin-right: 7%;
}
.menu__item:last-of-type {
  margin-right: 0;
}
.menu__link {
  display: block;
  padding: 0.5em 0.2em;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.menu__link:hover {
  border-color: #fc9e20;
}

.logo {
  display: table-cell;
  width: 40%;
  padding-top: 1.5em;
  text-align: center;
}
.logo__text {
  display: inline-block;
  font-size: 2.8125em;
  font-weight: 600;
  letter-spacing: -0.07em;
}
.logo__text:after {
  content: '';
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 0.31111em;
  width: 0.31111em;
  background-color: #fc9e20;
  margin-left: 5px;
  display: inline-block;
}

.media-list {
  list-style: none;
  text-align: center;
  font-size: 1.625em;
  margin: .8em 0 0;
  position: relative;
  z-index: 10;
}
.media-list__item {
  display: inline-block;
  margin: .3em;
}
.media-list__item:last-of-type {
  margin-right: 0;
}
.media-list__link {
  display: block;
  padding: .5em;
  border: 2px solid #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.media-list__link:hover {
  border-color: #fc9e20;
  -moz-box-shadow: 1px 1px 3px rgba(252, 158, 32, 0.5) #333333;
  -webkit-box-shadow: 1px 1px 3px rgba(252, 158, 32, 0.5) #333333;
  box-shadow: 1px 1px 3px rgba(252, 158, 32, 0.5) #333333;
}

.hero {
  padding: 0 10%;
  margin-top: 4em;
  text-align: center;
}
.hero__title {
  margin: 0 auto;
}
.hero__text {
  margin: 2.5em auto 0;
}
.hero__button {
  margin: 2.5em 0;
}

@media (min-width: 0) and (max-width: 35.5625em) {
  .menu {
    padding-top: 0.5em;
    width: auto;
  }

  .hero {
    margin-top: 1.3em;
  }
  .hero__title {
    font-size: 2.8125rem;
  }
  .hero__text {
    margin-top: 1.2em;
  }
  .hero__button {
    margin-top: 1.2em;
  }
}
@media (min-width: 3.5625em) and (max-width: 47.4375em) {
  .menu {
    padding-top: .5em;
  }

  .hero {
    margin-top: 1.3em;
  }
  .hero__title {
    font-size: 3.375rem;
  }
  .hero__text {
    margin-top: 1.2em;
  }
  .hero__button {
    margin-top: 1.3em;
  }
}
@media (min-width: 64em) {
  .logo:before {
    content: "\e915";
    font-family: 'icomoon' !important;
    font-size: 34em;
    position: absolute;
    top: -.05em;
    left: calc(50% - 0.5em);
    color: #fc9e20;
  }

  .menu {
    display: table-cell;
  }

  .hero {
    margin-top: 10em;
  }
  .hero__title {
    width: 80%;
  }
  .hero__text {
    width: 60%;
  }
}
.events {
  background-color: #ffffff;
}

@media (min-width: 0) and (max-width: 35.5625em) {
  .events {
    text-align: center;
  }
}
@media (min-width: 3.5625em) and (max-width: 47.4375em) {
  .events__button {
    margin-bottom: 0;
  }
}
@media (min-width: 47.5em) and (max-width: 64em) {
  .events__inner {
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0) 100%), url("../images/events/events_bg.png") no-repeat right center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .events__description {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .events__inner {
    background: linear-gradient(to right, #ffffff 0%, rgba(0, 0, 0, 0) 100%), url("../images/events/events_bg.png") no-repeat right center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
  }
  .events__description {
    width: 30%;
  }
}
.team {
  background-color: #2f2f2f;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMmYyZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjNDk0OTQ5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmYyZjJmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2f2f2f), color-stop(60%, #494949), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: -webkit-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: linear-gradient(to bottom right, #2f2f2f, #494949 60%, #2f2f2f);
  overflow: hidden;
}
.team__title {
  color: #ffffff;
}
.team__text {
  color: rgba(255, 255, 255, 0.75);
}
.team__text strong {
  color: #ffffff;
}

.employ {
  overflow: hidden;
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 32.66667%;
  text-align: center;
  margin-right: 1%;
  margin-bottom: 2em;
}
.employ:nth-of-type(3n) {
  margin-right: 0;
}
.employ__photo {
  width: 100%;
  max-width: 230px;
}
.employ__info {
  padding-top: .5em;
}
.employ__name {
  font-size: 1.35em;
  line-height: 1.2em;
  margin-top: .5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .03em;
  color: #fc9e20;
}
.employ__position {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.2em;
}

@media (min-width: 0) and (max-width: 3.5625em) {
  .team {
    text-align: center;
  }
  .team__button {
    margin-bottom: 2rem;
  }

  .employ {
    font-size: .8em;
  }
  .employ:last-of-type {
    padding-bottom: 1.2em;
  }
}
@media (min-width: 3.5625em) and (max-width: 47.4375em) {
  .employ:last-of-type {
    padding-bottom: 2rem;
  }

  .team__button {
    margin-bottom: 2rem;
  }
}
@media (min-width: 64em) {
  .team {
    font-size: 0;
  }
  .team__description {
    font-size: 1rem;
    width: 41.66667%;
    display: inline-block;
    vertical-align: middle;
  }

  .employ-block {
    font-size: 1rem;
    width: 58.33333%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 3%;
    vertical-align: middle;
  }
}
.work {
  background-color: #fff;
  font-size: 0;
}
.work__description {
  font-size: 1rem;
  width: 33.33333%;
  display: inline-block;
  vertical-align: middle;
}
.work__gallery {
  font-size: 1rem;
  width: 66.66667%;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5%;
  vertical-align: middle;
}

.gallery__image-block {
  width: 48.5%;
  float: left;
}
.gallery__image-block:first-of-type {
  margin-right: 3%;
  text-align: right;
}
.gallery__item {
  max-width: 100%;
  display: inline-block;
}
.gallery__item:first-child {
  margin-bottom: 3%;
}
.gallery__item:last-child {
  max-width: 60%;
}

@media (min-width: 0) and (max-width: 35.5625em) {
  .work {
    text-align: center;
  }
  .work__description {
    width: 100%;
  }
  .work__gallery {
    display: none;
  }
}
@media (min-width: 3.5625em) and (max-width: 47.4375em) {
  .work__description {
    width: 100%;
  }
  .work__gallery {
    display: none;
  }
}
@media (min-width: 47.5em) and (max-width: 63.9375em) {
  .work__description {
    width: 50%;
  }
  .work__gallery {
    width: 50%;
  }

  .gallery__image-block {
    width: 100%;
  }
  .gallery__image-block:last-of-type {
    margin-top: -10%;
  }
  .gallery__item {
    display: inline-block;
    -webkit-box-shadow: 3px 3px 8px rgba(47, 47, 47, 0.3);
    -moz-box-shadow: 3px 3px 8px rgba(47, 47, 47, 0.3);
    box-shadow: 3px 3px 8px rgba(47, 47, 47, 0.3);
  }
  .gallery__item:nth-of-type(odd) {
    max-width: 80%;
    margin-bottom: -10%;
  }
  .gallery__item:nth-of-type(even) {
    margin-left: -10%;
    max-width: 40%;
  }
}
.advantages {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMmYyZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjNDk0OTQ5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmYyZjJmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2f2f2f), color-stop(60%, #494949), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: -webkit-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: linear-gradient(to bottom right, #2f2f2f, #494949 60%, #2f2f2f);
}
.advantages__title {
  color: #ffffff;
}
.advantages__text {
  color: rgba(255, 255, 255, 0.75);
}
.advantages__text strong {
  color: #ffffff;
}
.advantages__bg-img {
  background: url(../images/advantages/advantages_bg.jpg) no-repeat right center;
  width: 58.33333%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -10%;
  height: 600px;
}
.advantages__description {
  width: 41.66667%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
}
.advantages__list {
  color: #ffffff;
}
.advantages-list__item {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  padding-left: 7.5em;
  margin-top: 2.5em;
}
.advantages-list__item:before {
  color: #fc9e20;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6em;
}
.advantages-list__title {
  padding-bottom: .5em;
}
.advantages-list__text {
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.75);
}

@media (min-width: 0) and (max-width: 35.5625em) {
  .advantages__bg-img {
    display: none;
  }
  .advantages__description {
    width: 100%;
    margin: 0;
  }
  .advantages-list__item {
    overflow: hidden;
    *zoom: 1;
    padding-left: 5em;
    margin-top: 2.5em;
    text-align: justify;
  }
  .advantages-list__item:before {
    font-size: 4em;
  }
}
@media (min-width: 3.5625em) and (max-width: 47.4375em) {
  .advantages__bg-img {
    display: none;
  }
  .advantages__description {
    width: 100%;
    margin: 0;
  }
}
.services {
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyZjJmMmYiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzQ5NDk0OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJmMmYyZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #2f2f2f), color-stop(80%, #494949), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #2f2f2f 50%, #494949 80%, #2f2f2f 100%);
  background-image: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, #2f2f2f 50%, #494949 80%, #2f2f2f 100%);
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #2f2f2f 50%, #494949 80%, #2f2f2f 100%);
}
.services__inner {
  padding: 0;
  display: table;
}
.services__description {
  display: table-cell;
  vertical-align: top;
  width: 41.66667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3rem 7% 3rem 14%;
  text-align: right;
}
.services__title {
  overflow: hidden;
  *zoom: 1;
}
.services__title:after {
  float: right;
}
.services__button {
  margin-bottom: 0;
}
.services__block {
  display: table-cell;
  vertical-align: top;
  width: 58.33333%;
  height: 100%;
  padding: 5rem 0;
  background: url("../images/services/services_bg.jpg") no-repeat center bottom;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.services__block:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.services__examples {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMmYyZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjNDk0OTQ5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmYyZjJmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2f2f2f), color-stop(60%, #494949), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: -webkit-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: linear-gradient(to bottom right, #2f2f2f, #494949 60%, #2f2f2f);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin-left: -7%;
  padding: 1.5em 3em;
  display: inline-block;
  vertical-align: middle;
}

.service {
  width: 50%;
  float: left;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
}
.service__icon {
  padding-bottom: 1em;
}
.service__icon:before {
  display: inline-block;
  border: 2px solid #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 3.5em;
  padding: .4em;
  color: #ffffff;
}
.service__name {
  color: #fc9e20;
  padding-bottom: .5em;
}
.service__text {
  color: rgba(255, 255, 255, 0.75);
}

@media (min-width: 0) and (max-width: 35.5625em) {
  .services__inner {
    display: block;
  }
  .services__description {
    display: block;
    width: 100%;
    padding: 1.5rem 5%;
    text-align: center;
  }
  .services__title:after {
    float: none;
  }
  .services__block {
    display: block;
    width: 100%;
    padding: 0;
  }
  .services__block:before {
    display: none;
  }
  .services__examples {
    margin: 0;
    padding: 1.5rem 5%;
  }

  .service {
    float: none;
    width: 100%;
    padding: 0;
    padding-top: 1em;
  }
  .service__icon {
    padding-bottom: .3em;
  }
  .service__icon:before {
    font-size: 2.5em;
  }
}
@media (min-width: 3.5625em) and (max-width: 47.4375em) {
  .services__description {
    display: block;
    width: 100%;
    padding: 1.5rem 5%;
    text-align: left;
  }
  .services__title:after {
    float: none;
  }
  .services__block {
    display: block;
    width: 100%;
    padding: 0;
  }
  .services__block:before {
    display: none;
  }
  .services__examples {
    margin: 0;
    padding: 1.5rem 5%;
  }

  .service {
    float: none;
    width: 100%;
    padding: 0;
    padding-top: 1em;
    text-align: left;
    overflow: hidden;
    *zoom: 1;
  }
  .service__icon {
    padding-bottom: .3em;
  }
  .service__icon:before {
    font-size: 2.5em;
    float: left;
    margin: 0 .5em .5em 0;
  }
}
@media (min-width: 47.5em) and (max-width: 64em) {
  .services__description {
    padding: 3rem 6% 3rem 3%;
  }

  .service {
    float: none;
    width: 100%;
    padding: 0;
    padding-top: 1em;
    text-align: left;
    overflow: hidden;
    *zoom: 1;
  }
  .service__icon {
    padding: .8em 0;
    float: left;
  }
  .service__icon:before {
    font-size: 2.5em;
    margin: 0 .5em .5em 0;
  }
}
.opinions {
  position: relative;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMmYyZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjNDk0OTQ5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmYyZjJmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2f2f2f), color-stop(60%, #494949), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: -webkit-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: linear-gradient(to bottom right, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: none;
}
.opinions__title {
  color: #ffffff;
}
.opinions__text {
  color: rgba(255, 255, 255, 0.75);
}
.opinions__text strong {
  color: #ffffff;
}
.opinions:before {
  content: '';
  width: 50%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMmYyZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjNDk0OTQ5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmYyZjJmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2f2f2f), color-stop(60%, #494949), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: -webkit-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: linear-gradient(to bottom right, #2f2f2f, #494949 60%, #2f2f2f);
  position: absolute;
  z-index: -1;
}
.opinions__inner {
  display: table;
  border-collapse: collapse;
}
.opinions__description {
  display: table-cell;
  width: 33.33333%;
  vertical-align: middle;
  color: #ffffff;
  padding: 6rem 1rem 6rem 7%;
}
.opinions__item {
  position: relative;
  padding-left: 3.5em;
  padding-right: 1.5em;
  margin-top: 4em;
}
.opinions__item:before {
  font-size: 2.5em;
  position: absolute;
  top: -.2em;
  left: 0;
}
.opinions__text {
  font-weight: 300;
  line-height: 1.3;
}
.opinions__author {
  display: block;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
  margin-top: 1.5em;
}
.opinions__bg-img {
  display: table-cell;
  width: 33.33333%;
  background: #2f2f2f url("../images/opinions/opinions__bg-img.jpg") no-repeat 57% 15%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.opinions__carousel {
  display: table-cell;
  width: 33.33333%;
  vertical-align: middle;
}

.carousel {
  overflow: hidden;
  max-width: 200px;
}
.carousel-wrapper {
  width: 300px;
  margin-left: 30%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.carousel__list {
  width: 9000px;
  margin: 0 auto;
}
.carousel__list:before {
  font-size: 5em;
  color: #fc9e20;
  display: block;
  margin-left: 65px;
  margin-bottom: 2rem;
}
.carousel-item {
  display: inline-block;
  width: 530px;
  text-align: center;
  line-height: 1.5;
  font-size: 1.2em;
}
.carousel-item__text {
  width: 40%;
}
.carousel-item__author {
  width: 40%;
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1.5em;
}
.carousel__markers {
  text-align: center;
}
.carousel__marker {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-top: 3.5em;
  margin-left: 0.5em;
  background-color: #fee0b7;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  -webkit-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}
.carousel__marker:hover {
  background-color: #fc9e20;
  -webkit-box-shadow: inset -1px 1px 3px #e68503;
  -moz-box-shadow: inset -1px 1px 3px #e68503;
  box-shadow: inset -1px 1px 3px #e68503;
}

@media (min-width: 0) and (max-width: 47.4375em) {
  .opinions:before {
    content: '';
    display: none;
  }
  .opinions__inner {
    display: block;
    padding: 1.5rem 5%;
  }
  .opinions__description {
    width: 100%;
    color: #000;
    display: block;
    padding: 0;
  }
  .opinions__title {
    color: #000;
  }
  .opinions__item {
    position: relative;
    padding-left: 3em;
    text-align: justify;
    margin-top: 2em;
  }
  .opinions__item:before {
    font-size: 2em;
    position: absolute;
    top: -.2em;
    left: 0;
  }
  .opinions__text {
    color: #000;
  }
  .opinions__author {
    margin-top: 1em;
    text-align: right;
  }
  .opinions__bg-img {
    display: none;
  }
  .opinions__carousel {
    display: none;
  }
}
@media (min-width: 47.5em) and (max-width: 64em) {
  .opinions__inner {
    padding: 0;
    margin: 0;
  }
  .opinions__description {
    width: 50%;
    padding: 3rem 3% 3rem 3%;
  }
  .opinions__item {
    position: relative;
    padding-left: 2.5em;
    padding-right: .5em;
    margin-top: 2.5em;
  }
  .opinions__item:before {
    font-size: 2em;
  }
  .opinions__author {
    margin-top: 1em;
  }
  .opinions__bg-img {
    display: none;
  }
  .opinions__carousel {
    width: 50%;
  }

  .carousel-wrapper {
    width: 300px;
    margin-left: 23%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .carousel__list:before {
    font-size: 5em;
    color: #fc9e20;
    display: block;
    margin-left: 85px;
    margin-bottom: 2rem;
  }
  .carousel-item__text {
    width: 50%;
  }
  .carousel-item__author {
    width: 50%;
  }
}
.soc-media {
  background: #2f2f2f url("../images/soc-media/soc-media_bg.jpg") no-repeat center 60%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.soc-media__inner {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.soc-media__description {
  text-align: center;
}
.soc-media__title {
  color: #ffffff;
}
.soc-media__title:after {
  display: none;
}

.social-list {
  list-style: none;
  text-align: center;
  font-size: 1.875em;
  margin: .8em 0 0;
}
.social-list__item {
  display: inline-block;
  margin: .3em;
}
.social-list__item:last-of-type {
  margin-right: 0;
}
.social-list__link {
  display: block;
  padding: .5em;
  border: 2px solid #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.social-list__link:hover {
  border-color: #fc9e20;
  -moz-box-shadow: 1px 1px 3px rgba(252, 158, 32, 0.5) #333333;
  -webkit-box-shadow: 1px 1px 3px rgba(252, 158, 32, 0.5) #333333;
  box-shadow: 1px 1px 3px rgba(252, 158, 32, 0.5) #333333;
}

@media (min-width: 0) and (max-width: 47.4375em) {
  .soc-media__inner {
    padding: 3rem 0;
  }
  .soc-media__description {
    max-width: 500px;
    margin: 0 auto;
  }
  .soc-media__title {
    text-align: center;
  }
}
@media (min-width: 47.5em) and (max-width: 64em) {
  .soc-media {
    background-position-y: center;
  }
  .soc-media__inner {
    padding: 4.5rem;
  }

  .social-list__item {
    margin-right: .5em;
  }
}
.footer {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMmYyZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjNDk0OTQ5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmYyZjJmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2f2f2f), color-stop(60%, #494949), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: -webkit-linear-gradient(top, #2f2f2f, #494949 60%, #2f2f2f);
  background-image: linear-gradient(to bottom right, #2f2f2f, #494949 60%, #2f2f2f);
  padding-top: 5em;
}
.footer__contact {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

.item__inner {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.contact {
  font-size: 0;
  text-align: center;
}
.contact__item {
  display: inline-block;
  width: 33.33333%;
  font-size: 1rem;
  vertical-align: top;
}
.contact__item:first-of-type {
  margin-left: 0;
}
.contact__item:before {
  display: inline-block;
  vertical-align: middle;
  font-size: 3.5em;
  margin-right: .5em;
  color: #fc9e20;
}
.contact__title {
  font-size: 1.2em;
  letter-spacing: .1em;
  padding-bottom: .5em;
}
.contact__link {
  line-height: 1.5;
}
.contact__text {
  line-height: 1.5;
}

.copyright {
  padding-top: 16em;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.copyright:after {
  content: '';
  display: inline-block;
  border: 16em solid;
  border-color: transparent transparent #fc9e20 transparent;
  position: absolute;
  bottom: 0;
  left: calc(50% - 16em);
  z-index: 1;
}
.copyright:before {
  content: '';
  display: inline-block;
  border: 14.5em solid;
  border-color: transparent transparent #2f2f2f transparent;
  position: absolute;
  bottom: 0;
  left: calc(50% - 14.5em);
  z-index: 2;
}
.copyright__text {
  position: relative;
  z-index: 1000;
  bottom: 2em;
  line-height: 1.5;
}

@media (min-width: 0) and (max-width: 47.4375em) {
  .footer {
    padding: 0;
  }

  .contact {
    padding: 1.5rem 5% 0;
  }
  .contact__item {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 2em;
  }
  .contact__item:first-of-type {
    margin-top: 0;
  }
  .contact__item:before {
    float: left;
    margin-top: .15em;
  }

  .copyright {
    margin-top: 2em;
    padding: 1em;
    color: #ffffff;
    text-align: center;
    position: relative;
    background-color: #2f2f2f;
  }
  .copyright:after {
    display: none;
  }
  .copyright:before {
    display: none;
  }
  .copyright__text {
    position: static;
  }
}
@media (min-width: 3.5625em) and (max-width: 64em) {
  .contact__item:before {
    font-size: 3em;
    margin-right: .2em;
  }
}
